<html>
  <head>
    <title>Horarios a Calendario</title>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='images/favicon.jpg') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">

  </head>
  <body>
    <p>Seleccione la carrera a la cual esta inscripto/a</p>
    <div class="dropdown">
      <button onclick="dropDown()" class="dropbtn" id="carreras-btn">Carrera</button>
      <div id="dpdw-carreras" class="dropdown-content">
        
        <button onclick="changeCarrera('Ingenieria en computacion')">Ingenieria en computacion</button>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
